:root {
  --color-purple-600: hsl(246, 80%, 60%);

  --color-orange-300: hsl(15, 100%, 70%);
  --color-blue-300: hsl(195, 74%, 62%);
  --color-pink-400: hsl(348, 100%, 68%);
  --color-green-400: hsl(145, 58%, 55%);
  --color-purple-700: hsl(264, 64%, 52%);
  --color-yellow-300: hsl(43, 84%, 65%);

  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple-500: hsl(235, 45%, 61%);
  --color-navy-200: hsl(236, 100%, 87%);

  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;

  --fs-base: 1rem;
  --ff-rubik: "Rubik", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  padding: 5rem 2rem;
  background-color: var(--color-navy-950);

  font-family: var(--ff-rubik);
  font-size: var(--fs-base);
  color: white;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  max-width: 1200px;
}

.dashboard-user {
  border-radius: 1rem;
  background-color: var(--color-navy-900);
}

.user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-purple-600);
}

.user-details img {
  display: block;
  width: 80px;
  height: 80px;

  border: 4px solid white;
  border-radius: 50%;
}

.user-name p {
  font-weight: var(--fw-normal);
  color: var(--color-navy-200);
  margin-bottom: 0.2rem;
}

.user-name h2 {
  font-size: 1.75rem;
  font-weight: var(--fw-light);
}

.dashboard-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  padding: 2rem;
}

.control-btn {
  color: var(--color-purple-500);
  cursor: pointer;
}

.control-btn.active {
  color: white;
}

.stats-card {
  padding-top: 2.5rem;
  border-radius: 0.75rem;
  background-repeat: no-repeat;
  background-position: 95% -10%;
}

.stats-card[data-stats="work"] {
  background-color: var(--color-orange-300);
  background-image: url("images/icon-work.svg");
}

.stats-card[data-stats="play"] {
  background-color: var(--color-blue-300);
  background-image: url("images/icon-play.svg");
}

.stats-card[data-stats="study"] {
  background-color: var(--color-pink-400);
  background-image: url("images/icon-study.svg");
}

.stats-card[data-stats="exercise"] {
  background-color: var(--color-green-400);
  background-image: url("images/icon-exercise.svg");
}

.stats-card[data-stats="social"] {
  background-color: var(--color-purple-700);
  background-image: url("images/icon-social.svg");
}

.stats-card[data-stats="self-care"] {
  background-color: var(--color-yellow-300);
  background-image: url("images/icon-self-care.svg");
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 2rem;
  border-radius: 0.75rem;
  background-color: var(--color-navy-900);
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-title {
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
}

.current-time {
  font-size: 2rem;
  font-weight: var(--fw-light);
}

.previous-time {
  font-size: 1rem;
  font-weight: var(--fw-normal);
  color: var(--color-navy-200);
}

@media (min-width: 48rem) {
  .dashboard-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .user-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-name p {
    margin: 0;
  }

  .time-settings {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }
}
